body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://preview.redd.it/fa0pr4fxjzk21.jpg?auto=webp&s=d1fc15f5e8e73ff12746b5675672ba7d5214c338');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
}

header {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px 0;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3); /
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}